/* profile page css */
/* section 1 css starts from here */
.profile_container {
    background-color: #191b28;
}
.profile_container .banner_image_container {
    height: 430px;
}
.profile_container .content_background_color_container {
    background-color: rgba(0, 0, 0, 0.8);
}
.profile_container .teams_main_container_background_color {
    background-color: #2b2e34;
}
.profile_container .heading_div h2 {
    color: #b1b2b7;
    font-size: 28px;
}
@media (max-width: 1023px) and (min-width: 320px) {
    .profile_container .banner_image_container {
        height: 350px;
    }
}
/* section_2_css_biography */
.background_color_main_contaner .biography_main_container .left_side_container {
    background-color: #2a2e33;
}
.background_color_main_contaner
    .biography_main_container
    .left_side_container
    .heading_text_div
    h2 {
    font-size: 24px;
}
.background_color_main_contaner
    .biography_main_container
    .left_side_container
    .trophies_container
    .heading_images_div
    h2 {
    font-size: 24px;
}
.background_color_main_contaner .right_side_containe .up_side_container {
    background-color: #2a2e33;
}

.background_color_main_contaner .right_side_containe .up_side_container h4 {
    font-size: 18px;
}

.background_color_main_contaner .right_side_containe .down_side_container {
    background-color: #2a2e33;
}
.background_color_main_contaner .right_side_containe .down_side_container h4 {
    font-size: 18px;
}
.background_color_main_contaner .gray_color {
    color: #c8c9d0;
}
/* section_3_list_css_start_here */
.biography_container .list_container_color {
    background-color: #2a2e33;
}
.biography_container .list_container_color .border_container {
    border: 1px solid #43464d;
}
.biography_container .border_color {
    border-right: 1px solid #43464d;
}
.biography_container .text_color {
    color: #c8c9d0;
}
.biography_container .list_container_color .min-width {
    min-width: 1300px;
}
.biography_container .list_container_color .font_18{
    font-size: 18px;
}
.biography_container .list_container_color .font_24{
    font-size: 24px;
}
/* //////// */
